__common__/__pycache__

mesher/results
mesher/nohup.out
mesher/modules/__pycache__

simulator/results
simulator/nohup.out
simulator/modules/__pycache__

tessellator/results
tessellator/nohup.out
tessellator/modules/__pycache__
