mesher/rve/results
mesher/sample/results
calibrator/optimiser/results
calibrator/surrogate/results
simulator/results
tessellator/results

mesher/rve/nohup.out
mesher/sample/nohup.out
calibrator/optimiser/nohup.out
calibrator/surrogate/nohup.out
simulator/nohup.out
tessellator/nohup.out